# Byte-compiled / optimized / DLL files
__pycache__/

# Unit test / coverage reports
.pytest_cache/
.coverage
coverage.xml
junit-*.xml

# Sphinx documentation
docs/_build/

# mkdocs documentation
/site

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Claude Code
.claude/

# virtual environment
/.venv
/.virtualenv
/.virtualenv-app-data
/.uv-cache

# tox environments
/.tox

# specstory
/.specstory

# ruff
/.ruff_cache
