name: CI

on:
  push:
    branches-ignore:
      - "experimental/*"
  pull_request:
    branches-ignore:
      - "experimental/*"

jobs:
  spell-check:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v5

      - name: Check spelling
        uses: streetsidesoftware/cspell-action@v7

  ci-checks:
    needs: spell-check
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
    steps:
      - name: Check out the repository
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "latest"
          python-version: ${{ matrix.python-version }}

      - name: Run tox
        run: uvx --with tox-uv tox -e py${{ matrix.python-version }}

  coverage:
    needs: spell-check
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "latest"
          python-version: "3.14"

      - name: Run coverage via tox
        run: uvx --with tox-uv tox -e coverage

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: coverage.xml
          verbose: true

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
          file: junit.xml
